<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YeeTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDF801D31EA8DED400F5E63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF801EC1EA8DED400F5E63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF801F71EA8DED400F5E63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
